@charset "utf-8";

*{
	padding:0px;
	margin:0px;	
}

body{
	background:#000000;
}

canvas{
	border:0px none;	
}

video{
	display: none;
}

	.left{
		position:relative;
		float:left;	
	}



/*  ##CONSOLE */

canvas.config{
	position: fixed;
	bottom:-100px;
	right:-250px;
	width: 300px;
	height: 150px;
	z-index:100;

	transition-property: right,bottom;
	transition-duration: .5s,1s;
	transition-timing-function: ease-in-out,ease-in-out;
	transition-delay: 0s,.5s;

}

canvas.config:hover{
	right: 0;
	bottom:0;
}




/*	$MAIN & $PAGE	*/

	
.pointer{
	cursor:pointer;	
}


#canvasBackg{
	z-index: 30;
	position: absolute;
}

.viewport_container{
	position: relative;
	width:100%;
	overflow: hidden;
}
	.displmnt_container{
		position: absolute;
		width:100%;
		height: auto;
		z-index:100;
	}

		.page_content{
			position: absolute;
			width:100%;
			z-index:1;
		}

		.ground_border{
			position: relative;
			width:100%;
			height: 50px;
			background-image: url(../images/elevator/borde_suelo.jpg);
			background-position: center top;
		}

		.wall{
			position: relative;
			width:100%;
			background-image: url(../images/elevator/fondo_pared.jpg);
			background-position: center top;
		}




	/*	$MENU	*/
		.menuContainer{  
			position:absolute;
			top:0px;
			width:1024px;
			margin-left:50%;
			left:-512px;	
			perspective:1200px;
			perspective-origin:bottom center;
			-webkit-perspective:1200px;
			-webkit-perspective-origin:bottom center;
			z-index:200;
		}
		
			 .menu_op{
				background:url(../images/menu/pantalla_menu-24.png);
				width:200px;
				height:52px;
				margin: 0px 2px;
				
				cursor:pointer;
				padding-top:60px;
				text-align:center;
				font-family:Arial, Helvetica, sans-serif;
				font-size:24px;
				font-weight:bold;
				color:rgba(0,0,0,0.4);	
		
				z-index:15; 
				
				transform-origin:top center;
				-webkit-transform-origin:top center;

				animation-timing-function: linear;	
				-webkit-animation-timing-function: linear;
					
			 }
			 
			 .menu_op:hover, .menu_selected{
				background:url(../images/menu/pantalla_menu_on-24.png);
			 }
					
			#menuCanvas{
				position:absolute;	
				left:0px;
				top:0px;
				z-index:10;
			}
			
			.menu_text{
				width:100%;
				cursor:pointer;
				margin-top:60px;
				text-align:center;
				font-family:Arial, Helvetica, sans-serif;
				font-size:24px;
				font-weight:bold;
				color:rgba(0,0,0,0.4);	
			}
			
			@keyframes menuClickAnimation {
				0% {
					transform: rotateX(0deg);
				}
				25%{
					transform: rotateX(-5deg);
				}
				50%{
					transform: rotateX(3deg);
				}
				85%{
					transform: rotateX(-1deg);
				}
				100%{
					transform: rotateX(0deg);
				}	
			}
			
			@-webkit-keyframes menuClickAnimation {
				0% {
					-webkit-transform: rotateX(0deg);
				}
				40%{
					-webkit-transform: rotateX(-5deg);
				}
				60%{
					-webkit-transform: rotateX(3deg);
				}
				85%{
					-webkit-transform: rotateX(-1deg);
				}
				100%{
					-webkit-transform: rotateX(0deg);
				}	
			}
			
			@keyframes slideDown {
				0% {
					transform: translateY(-100%);
				}
				65%{
					transform: translateY(8%);
				}
				80%{
					transform: translateY(-4%);
				}
				100%{
					transform: translateY(0%);
				}		
			}
			
			@-webkit-keyframes slideDown {
				0% {
					-webkit-transform: translateY(-100%);
				}
				65%{
					-webkit-transform: translateY(8%);
				}
				80%{
					-webkit-transform: translateY(-4%);
				}
				100%{
					-webkit-transform: translateY(0%);
				}	
			}
			
			
	/* $HOME	*/
	.proyectors{
		position: absolute;
		z-index: 50;
		width:500px;
		height: 175px;
		background-image: url(../images/home/proyectors.png);
		background-repeat: no-repeat;
		background-position: center top;
		margin-left: 50%;
		left:-250px;
		bottom:20px;
	}	

	.lightCard{
		font-family: Arial;
		font-size: 14px;
		text-align: justify;
		color: rgba(255, 255, 250, 0.8);
		text-shadow: -2px -2px 5px rgba(200,200,100,1),
		2px -2px 5px rgba(200,200,100,1),
		-4px -4px 15px rgba(200,200,100,1),
		4px -4px 15px rgba(200,200,100,1);
		position: absolute;
		width: 34%;
		height: auto;
		top:150px;
		margin-left: 50%;
		left:-23%;
		padding: 8%;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(239,215,35,0.68) 0%, rgba(247,235,142,0) 64%, rgba(252,247,202,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(239,215,35,0.68)), color-stop(64%,rgba(247,235,142,0)), color-stop(100%,rgba(252,247,202,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(239,215,35,0.68) 0%,rgba(247,235,142,0) 64%,rgba(252,247,202,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(239,215,35,0.68) 0%,rgba(247,235,142,0) 64%,rgba(252,247,202,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(239,215,35,0.68) 0%,rgba(247,235,142,0) 64%,rgba(252,247,202,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(239,215,35,0.68) 0%,rgba(247,235,142,0) 64%,rgba(252,247,202,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adefd723', endColorstr='#00fcf7ca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	}




			
			/* VIDEO*/
	.behind_window{
		text-align: center;
		position: absolute;
		width:100%;
		height: 800px;
		z-index: 1;
	}	

		.behind_window img{
			position: absolute;
			width: 100%;
			height: auto;
		}	

		.sky_container{
			left: -29%;
		    margin-left: 50%;
		    max-width: 54%;
		    top: 100px;
		    z-index: 1;
		}	
		.building_1{
			left: -29%;
		    margin-left: 50%;
		    max-width: 56%;
		    top: 50px;
		    z-index: 20;
		}	
		.building_2{
			left: -29%;
		    margin-left: 50%;
		    max-width: 48%;
		    top: 160px;
		    z-index: 15;
		}
		.building_3{
			left: -21%;
		    margin-left: 50%;
		    max-width: 37%;
		    top: 120px;
		    z-index: 10;
		}
		.building_4{
			left: -9%;
		    margin-left: 50%;
		    max-width: 20%;
		    top: 220px;
		    z-index: 5;
		}
	
		
	#videoCanvas{
		background: none repeat scroll 0 0 #FFFFFF;
	    border: thin solid #000000;
	 	height: 61%; 
	    left: 13.5%;
	    position: absolute;
	    top: 11%;
	    width: 54%;
	    z-index: 1;
	}

	
	.floatingControls{
		width:200px;
		margin-left:50%;
		position:relative;
		left:-100px;
		top:620px;	
		color:#FFF;
	}
	


	.video_element_container{
		position: absolute;
		max-width: 1024px;
		top:170px;
		height: auto;
		width: 100%;
		z-index:50;
	}

	.tape_stack{
		bottom: 0;
	    height: auto;
	    position: absolute;
	    right: 6%;
	    width: 28.5%;
	    background-color: rgba(0,0,0,1);
	}
		.tape_stack .tape{
			position: relative;
			width:100%;
			height: auto;
			opacity:0.7;
			cursor:pointer;
			left:0;
			transition: all 0.5s;
		}
		.tape_stack .tape:hover,.tape_stack .tape.selected {
			box-shadow: 0 15px 10px rgba(0,0,0,1);
			opacity: 1;
			z-index:5;
			width:104%;
			left:-2%;
		}


	.base_tapes{
		height: auto;
	    left: -47%;
	    margin-left: 50%;
	    position: relative;
	    width: 61%;
	}

	.tv_container{
		height: auto;
	    left: -45%;
	    margin-left: 50%;
	    position: relative;
	    width: 59%;
	    top:28%;
	}
		.tv{
			position:relative;
			z-index:5;	
			width: 100%;
			height: auto;
		}
		
		.vu{
			height: auto;
		    position: absolute;
		    right: 5.5%;
		    width: 3.5%;
		    z-index: 10;
		}
		.color_knob{
			height: auto;
		    position: absolute;
		    right: 18.6%;
		    top: 45%;
		    transform: rotateZ(-3.16387deg);
		    width: 1.9%;
		    z-index: 10;
		}
		.contrast_knob{
			height: auto;
		    position: absolute;
		    right: 12.4%;
		    top: 45%;
		    width: 1.9%;
		    z-index: 10;
		}
		.bright_knob{
			height: auto;
		    position: absolute;
		    right: 6.1%;
		    top: 45%;
		    width: 1.9%;
		    z-index: 10;
		}
		.vhf_knob{
			position:absolute;
			width: 5.2%;
			height:auto;
			right: 13.3%;
    		top: 61.3%;
			z-index:10;
		}
		
		#pantalla_vhs .screenTxt{
			float: left;
		    margin-left: 8%;
		    margin-top: 6.5%;
		    position: relative;	
		    width: 36%;
		}
		
		#digits_container{
			height: 32%;
		    overflow: hidden;
		    position: absolute;
		    right: 13%;
		    top: 35%;
		    width: 32%;
		}
		
		.screenDigit{
			position:absolute;
			float:left;
			margin-left:2%;
			height: auto;
			width:18%;
			top:-1px;
		}
	
	.vhs_player{
		position:relative;
		float:left;
		margin-left:50%;
		left: -48%;
		top: 74%;
		width:63%;
		height:auto;	
	}
	.vhs_player_img{
		width:100%;	
	}
	.led_on{
		bottom: 36%;
	    height: auto;
	    left: 2.38%;
	    position: absolute;
	    width: 1.85%;
	    z-index: 5;
	}
	.power_btn{
		bottom: 22%;
	    height: auto;
	    left: 1.3%;
	    position: absolute;
	    width: 4%;
	    z-index: 5;
	}
	.play_btn{
		bottom: 24%;
	    height: auto;
	    left: 14.65%;
	    position: absolute;
	    width: 6%;
	    z-index: 5;	
	}
	.REW_btn{
		bottom: 24%;
	    height: auto;
	    left: 10%;
	    position: absolute;
	    width: 4.5%;
	    z-index: 5;		
	}
	.FF_btn{
		bottom: 24%;
	    height: auto;
	    left: 20.8%;
	    position: absolute;
	    width: 4.3%;
	    z-index: 5;		
	}
	.pause_btn{
		bottom: 24%;
	    height: auto;
	    left: 27.1%;
	    position: absolute;
	    width: 4.3%;
	    z-index: 5;	
	}
	.stop_btn{
		bottom: 24%;
	    height: auto;
	    left: 31.6%;
	    position: absolute;
	    width: 5.8%;
	    z-index: 5;	
	}
	.slow_btn{
		bottom: 24%;
	    height: auto;
	    left: 37.6%;
	    position: absolute;
	    width: 4.3%;
	    z-index: 5;		
	}
	
	.pantalla_vhs{
		background:url(../images/video/pantalla_on.png);
		height: 33%;
	    position: absolute;
	    right: 7%;
	    top: 11.8%;
	    width: 33.5%;
	}


	/* GALLERY */
.slide_stack_container{
	position: absolute;
	height:202px;
	width:140px;
	bottom:0;
	margin-left: 50%;
	left:340px;
	z-index:40;
}

.slide_stack_container .slide_stack{
	box-shadow: 0 10px 5px rgba(0,0,0,1);
	display: block;
	position:absolute;
	width:100%;
	height: auto;
	left:0;
	transition: all 1s;

}
	#list_0.slide_stack{
		top:0;
		z-index:2;
	}
	#list_1.slide_stack{
		top:102px;
		z-index:1;
	}

		.slide_stack_container .slide_stack:hover{
			box-shadow: 0 15px 10px rgba(0,0,0,1);
			opacity: 1;
			z-index:4!important;
			width:110%;
			left:-5%;
		}

		.slide_stack_container .selected{
			box-shadow: 0 15px 10px rgba(0,0,0,1);
			opacity: 1;
			z-index:5!important;
			width:110%;
			left:-5%;
		}